body {	
	border:0px;
	margin:0px; 
	padding:0px;
}
.header {
	border:0px;
	margin:0px; 
	padding:0px;
	width: 100%;
	z-index:1;
	overflow:hidden;
	height:112px;
}

.context {
	background-image: url(../image/tail.jpg);
	background-position:top;
	background-size:cover;
	background-color:white;
	position:relative;
	height:300px; 
	z-index:0;
	width:80%;
	margin:0px 10% auto 10%; 
	color:red;
} 
