body
{
	background-position:top;
	background-size:cover;
	background-color:#C7EDCC;
	min-width:500px;
}
.bz {
	color: red;
	font-family: "宋体", "仿宋", sans-serif;	/*若电脑不支持宋体，则用仿宋，若不支持仿宋，则在sans-serif中找*/
	font-weight: bold;
	font-size: 100%;
	font-style: italic;
	opacity: 1; /*字体的透明度：1：默认样式，0：全透明*/
}
.hint {
	color: red;
	font-family: "宋体", "仿宋", sans-serif;	/*若电脑不支持宋体，则用仿宋，若不支持仿宋，则在sans-serif中找*/
	font-weight: bold;
	font-size: small;
	font-style: italic;
	opacity: 1; /*字体的透明度：1：默认样式，0：全透明*/
}
#header {
	text-align:left;
	height:70px;
	margin: 0px 10% auto 10%;
}
#guanggao {
	text-align:center;
	font-size:80px;
	height:650px;
	width:20%;
	float:left;
	background-color:#FFD700;
	margin: auto auto auto 10%;//上 右 下 左
}
#maincontext {
	font-size:20px;
	height:650px;
	width:60%;
	min-width:300px;
	float:left;
	background-color:#EEEEEE;
	margin: auto 10% auto auto;
	text-align:center;
}
#birthyear,#birthmonth {
	width:75px;
}
#footer {
	margin: 650px 10% 0px 10%;
	text-align:center;
}