body
{
	background-position:top;
	background-size:cover;
	background-color:#C7EDCC;
	text-align:center;
}
.bz {
	color: red;
	font-family: "宋体", "仿宋", sans-serif;	/*若电脑不支持宋体，则用仿宋，若不支持仿宋，则在sans-serif中找*/
	font-weight: bold;
	font-size: 100%;
	font-style: italic;
	opacity: 1; /*字体的透明度：1：默认样式，0：全透明*/
}
.hint {
	color: red;
	font-family: "宋体", "仿宋", sans-serif;	/*若电脑不支持宋体，则用仿宋，若不支持仿宋，则在sans-serif中找*/
	font-weight: bold;
	font-size: small;
	font-style: italic;
	opacity: 1; /*字体的透明度：1：默认样式，0：全透明*/
}
#header {
	text-align:left;
	height:70px;
	margin: 0px 200px auto 200px;
}
#guanggao {
	text-align:center;
	font-size:80px;
	height:650px;
	width:20%;
	float:left;
	background-color:#FFD700;
	margin: auto auto auto 200px;
}
#maincontext {
	font-size:20px;
	height:650px;
	width:58%;
	float:left;
	text-align:center;
	background-color:#EEEEEE;
	margin: auto 200px auto auto;
}
#footer {
	margin: auto 200px 0px 200px;
	text-align:center;
}